In [3]:
import pandas as pd

In [12]:
df = pd.read_csv("synthetic_reviews.csv", index_col=0)
df.head()

,Age,Review Text,Rating,Recommended IND,Positive Feedback Count
0,37,"6ft, 160lb. i normally wear a 68 and could hav...",4,1,3
1,47,"alas, i did not sweat in it with me.this dress...",1,0,15
2,42,figure would look like a had several extra rol...,2,0,17
3,27,"is lying down, i can find the inner piece bein...",1,0,11
4,26,me unless their models are usually long enough...,2,0,12